div{
    border: solid black 1px;
}
.paint{
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    margin: 30px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paint > *{
    width: 30px;
    height: 30px;
}
input{
    width: 100px;
    height: 100px;
    background: none;
    border: none;
}
